.caption-page {
  padding-top: 65px;
}

.profile__foto {
  float: left;
}

.profile__data {
  float: left;
  margin-left: 50px;
  line-height: 2;
  color: #000000;
  border-collapse: collapse;

  td:nth-child(even) {
    padding-left: 10px;
  }
}

.email__teacher {
  position: relative;
  padding-right: 20px;
    @include sprite-tooltip;
    width: auto;
    height: auto;
    background-position: 90px -3190px;
    cursor: pointer;
}

.email__teacher-opened {
  display: none;

  a {
    padding-left: 15px;
    color: inherit;
    text-decoration: none;
    @include sprite-email;
    height: auto;
    background-position-y: -3157px;

    &:hover {
      color: #F86005;
    }
  }
}

.email__teacher-tooltip {
  display: none;
  position: absolute;
  top: -70px;
  left: 0;
  width: 275px;
  margin-left: 5px;
  padding: 16px 30px;
  font: normal 13px/1.5 Arial, sans-serif;
  color: #000000;
  background: #ffffff;
  box-shadow: 0 0 20px 0px #c3c3c3;
  z-index: 1;

  a {
    font: inherit;
  }
}

.email__teacher:hover .email__teacher-tooltip {
  display: block;
}

.profile__desc-text {
  font: normal 16px/1.5 Arial, sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .width {
    padding: 0 10px;
  }

  .caption-page {
    padding-top: 35px;
    text-align: center;
  }

  .profile__data,
  .profile__foto {
    display: block;
  }

  .profile__foto {
    width: 100%;
    text-align: center;
  }

  .profile__data {
    margin: 0;
    padding-top: 20px;
    line-height: 1.7;

    tr {
      vertical-align: top;
    }
  }

  .email__teacher-tooltip {
    left: -100px;
  }
}
